<a class="btn btn-mini" href="{{ path('admin_hotel_edit', { 'id': entity.id }) }}"><i class="btn-icon-only icon-edit"></i></a>

<a class="btn btn-mini btn-danger" href="{{ path('admin_hotel_delete', { 'id': entity.id }) }}"><i class="btn-icon-only icon-remove"></i></a>
